{% extends "base.html" %}

{% block content %}

    {% if request.user.is_authenticated %}
        Hello {{ request.user.username }}
    {% else %}
        Hello anonymous user
    {% endif %}
    <br />
    <a href="/">back to home </a>
    <br/>
    The todo name is <b>{{ todo.name }}</b>
    The due daa is <b>{{ todo.due_date }}</b>
    <br />
    <a href="/{{ todo.id }}/update">Update this todo </a>
    <br/>
    <a href="/{{ todo.id }}/delete">Delete this todo </a>
    <br/>

{% endblock %}