{% extends 'base.html' %}

{% block content %}
   <h4>Update a todo</h4>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
{% endblock %}