{% extends "base.html" %}

{% block content %}

    {% if request.user.is_authenticated %}
        Hello {{ request.user.username }}
    {% else %}
        Hello anonymous user
    {% endif %}
    <br/>
    <a href="/create"> Create a todo </a>

    <ul>
        {% for todo in todo_list %}
            <li> <a href="/{{ todo.id }}"> {{ todo.name }}, it´s due {{ todo.due_date }} </a> </li>
        {% endfor %}
    </ul>

{% endblock %}
